/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/fontawesome/
/.osp/
/.env.testing
/app/Console/bats/loophole_stderr.log
/app/Console/bats/loophole_stdout.log
/app/Console/bats/start_loophole_forwarding — копия.bat
/public/avatars
/NUL
