
.table-35{
    width: 35px;
}

.highlight{
    background-color: rgba(161, 47, 74, 0.5) !important;
    border-color: #0a3622 !important;
    border-width: 2px !important;
}

.table>tbody>tr.red-row{
    background-color: rgba(161, 47, 74, 0.5) !important;
    color: #664d03 !important;
    color-scheme: dark !important;
    border-bottom-left-radius: 5px  !important;
    border-color: #0a3622 !important;
    border-width: 2px !important;
    //box-shadow: 10px 5px 5px red !important;
    box-shadow:  revert !important;
    //border: #0a53be !important;
}

.bg-pink{
    background: rgba(161, 47, 74, 0.02);
}


$primary-hover: $info;
.btn-outline-light {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }
}

.rounded-table {
    border-top: 0px solid #eaeaea;
    //border-collapse: separate;
    border-spacing: 5px;
    border-radius: 5px;
    border-style: none ;
    border-width: revert;
    //&.big-table {
    //    table-layout: fixed;
    //    min-width: 1000px;
    //}
    thead, tbody {
        th, td {
            white-space: normal;
            text-overflow: ellipsis;
        }
    }
    th:first-child{
        border-left-color: transparent;
        border-right-color: transparent;
    }
    td:first-child{
        border-left-color: transparent;
    }
    td:last-child{
        border-right-color: transparent;
    }
    tr:last-child{
        border-bottom-color: transparent;
    }
    tr:first-child{
        border-top-color: transparent;
    }
    tr:only-child th:only-child, tr:only-child td:only-child {
        border-radius: 5px 5px 0 0;
    }
    tr:last-child td:first-child {
        border-radius: 0 0 0 5px;
    }
    tr:last-child td:last-child {
        border-radius: 0 0 5px 0;
    }
}

//$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$btn-hover-bg-shade-amount:       15%;
$btn-hover-bg-tint-amount:        15%;
$btn-hover-border-shade-amount:   20%;
$btn-hover-border-tint-amount:    10%;
$btn-active-bg-shade-amount:      20%;
$btn-active-bg-tint-amount:       20%;
$btn-active-border-shade-amount:  25%;
$btn-active-border-tint-amount:   10%;

@mixin button-outline-variant(
    $color,
    $color-hover: color-contrast($color),
    $active-background: $color,
    $active-border: $color,
    $active-color: color-contrast($active-background)
) {
    color: $color;
    border-color: $color;

    &:hover {
        color: $color-hover;
        background-color: $active-background;
        border-color: $active-border;
    }

    .btn-check:focus + &,
    &:focus {
        box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
    }

    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active,
    &.dropdown-toggle.show {
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;

        &:focus {
            @if $enable-shadows {
                @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5));
            } @else {
                // Avoid using mixin so we can pass custom focus shadow properly
                box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
            }
        }
    }

    &:disabled,
    &.disabled {
        color: $color;
        background-color: transparent;
    }
}

//.table {
//    .tbody{
//        .highlight-row {
//            background-color: rgba(161, 47, 74, 0.5) !important;
//            border: 2px solid #0a3622 !important; // Объединяем border свойства
//        }
//    }
//}

.table {
    tr.highlight-row {
        position: relative;
         //Обводка для всей строки (опционально)
        &::after {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border: 4px solid rgba(161, 47, 74, 0.75);
            border-radius: 4px;
            pointer-events: none;
            z-index: 0;
            filter: drop-shadow(0 0 1px rgba(161, 47, 74, 0.75));
        }
    }
}
