// Body
$body-bg: #f8fafc;

$primary: #a12f4a; // Основной цвет (primary)
$secondary: #6c757d; // Вторичный цвет (secondary)
$success: #28a745; // Цвет успеха (success)
$danger: #dc3545; // Цвет ошибки (danger)
$warning: #ff69b5; // Цвет предупреждения (warning)
$info: #a12f4a; // Информационный цвет (info)
$light: #fdfdfd; // Светлый цвет (light)
$dark: #343a40; // Темный цвет (dark)

$table-variants: (
    "primary":   $primary,
    "secondary": $secondary,
    "success":   $success,
    "info":      $info,
    "warning":   $warning,
    "danger":    $danger,
    "light":      $light,
    "dark":       $dark,
);

$btn-link-color:              $info;
$btn-link-hover-color:        $info;
$btn-link-disabled-color:     $info;

